---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
    {% include head.html %}
    <body class="has-push-menu">
        {% include svg-icons.html %}
        {% include header.html %}
            <section class="content">
                {{ content }}
            </section>
            <script data-ad-client="ca-pub-1909189389313423" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        {% include footer.html %}
    </body>
</html>

